#Docker
COMPOSE_PROJECT_NAME=notificationservice

# Database - porta diferente do history-service para poder rodar os dois juntos
POSTGRES_DB=notificationdb
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
DB_HOST=localhost
DB_PORT=5433

# RabbitMQ - quando integrado com o time, aponte para o broker compartilhado
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest
RABBITMQ_VHOST=/

# RabbitMQ - Topologia
# O notification-service consome eventos do appointment.exchange
RABBITMQ_EXCHANGE=appointment.exchange
RABBITMQ_QUEUE=notification.queue
RABBITMQ_ROUTING_KEY=notification.created

# Spring
SPRING_PROFILES_ACTIVE=
SERVER_PORT=8082
