# Profile do Compose. Sem isso, `docker compose up` sobe so o banco.
COMPOSE_PROFILES=apps

# Banco proprio deste servico
POSTGRES_DB=auth_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
DB_HOST=localhost
DB_PORT=5435

# Aplicacao
SERVER_PORT=8083