POSTGRES_DB=mydatabase
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
DB_HOST=localhost
DB_PORT=5432

RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest
RABBITMQ_VHOST=/

HISTORY_EXCHANGE=history.exchange
HISTORY_ROUTING_KEY=history.created
NOTIFICATION_EXCHANGE=notification.exchange
NOTIFICATION_ROUTING_KEY=notification.created
PUBLISH_NOTIFICATION=false

SERVER_PORT=8081
